.header {
  background:  #FF650E;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 1.25rem 0;
  height: 80px;
}


.header h1 {
  padding: 0.5rem;
  text-align: left;
  color: #FFF;
}
